html {
    font-size: 14px;
    line-height: 22px;
    border-top: 2px solid;
    color: #ffffff;
}

body {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 10px;
}

.text-grey {
    color: grey;
}

.box {
    background-color: #444444;
    min-height: 100px;
}

.custom-footer-col > .box {
    height: calc(100% / 2 - 15px);
    min-height: 40px;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header a:hover {
    text-decoration: none;
    color: #ffffff;
}



